<div class="mt-2">
    <p class="text-justify">
        This form and your discussion with your doctor are intended to help you make an informed decision about your procedure. As a member of the treatment team, you have been informed of your diagnosis, the planned procedure, the risks, benefits, and alternatives associated with the procedure, and any associated costs. In order to increase the chance of achieving optimal results, you have provided an accurate and complete medical history, including all past and present dental and medical conditions, prescription and non-prescription medications, any allergies, recreational drug use, and pregnancy (if applicable). Your doctor will be happy to answer any questions you may have and provide additional information before you decide whether to sign this document and proceed with the procedure.
    </p>
    
    <div class="mt-5">
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="diagnosis" id="diagnosis" 
                class="form-control" placeholder="Diagnosis" autofocus ng-maxlength="2000">
            <label for="inputEmail">Diagnosis</label>
        </div>                            
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="procedure" id="procedure" 
                class="form-control" placeholder="Procedure" autofocus ng-maxlength="2000">
            <label for="inputEmail">Procedure</label>
        </div>                            
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="altoption" id="altoption"
                class="form-control" placeholder="Altoption" autofocus ng-maxlength="2000">
            <label for="inputEmail">Alternative options</label>
        </div>                            
    </div>


    <ol class="mt-5">
    <li>I have been informed of and understand the potential risks related to this procedure include but are not limited to:
    <ul style="list-style-type: disc;">
    <li>Varying lengths and degrees of discomfort, difficulties with speaking and/or eating, gum irritation, feeling of fullness, changes in saliva production, bone loss, stress to the jaw joints (TMJ), altered bite, loosening of fit over time, need for adhesives, possible breakage/dislodgement/bond failure of material, an aesthetic appearance that is different than your natural teeth, allergic and/or adverse reaction to medications and/or materials.</li>
    <li>An additional risk limited to the fabrication of partial dentures is damage to adjacent teeth, which may increase with poor oral hygiene.</li>
    </ul>
    </li>
    <li>I have been informed of and understand that if an immediate denture is made, this is not a permanent prosthetic and may be less aesthetically pleasing than my final denture and may require several adjustments, or may need to be remade.</li>
    <li>I have been informed of and understand that follow up visits or care, additional evaluation and/or treatment, including denture adjustments, may be needed.</li>
    <li>Patient&rsquo;s Responsibilities</li>
    </ol>
    <p style="padding-left: 40px;">I understand the use of tobacco and alcohol is detrimental to the success of my treatment.</p>
    <p style="padding-left: 40px;">I agree to follow all instructions provided to me by this office before and after the procedure, take medication(s) as prescribed, practice proper oral hygiene, keep all appointments, make return appointments if complications arise, and complete care.&nbsp; I will inform my doctor of any post-procedural problems as they arise. My failure to comply could result in complications or less than optimal results.</p>
    <p style="padding-left: 40px;">I understand and accept that the doctor cannot guarantee the results of the procedure. I had sufficient time to read this document, understand the above statements, and have had a chance to have all my questions answered.&nbsp; By signing this document, I acknowledge and accept the possible risks and complications of the procedure and agree to proceed.</p>
</div>