<div class="mt-2">
    <p class="text-justify">
        Este formulario y su conversación con el médico de su hijo tienen como objetivo ayudarlo a tomar una decisión informada sobre el procedimiento de su hijo. Por ser miembro del equipo de tratamiento, se le han informado el diagnóstico de su hijo, el procedimiento planificado, los riesgos, los beneficios y las alternativas asociadas con el procedimiento y todo costo relacionado. Para aumentar las posibilidades de lograr resultados óptimos, usted ha suministrado la historia clínica completa de su hijo, en la que se incluyen todas las afecciones dentales y médicas pasadas y presentes, medicamentos recetados y sin receta, toda alergia, uso de drogas recreativas y embarazo (si aplica). El médico estará dispuesto a responder cualquier pregunta que usted o su hijo puedan tener y les dará información adicional antes de decidir si firma este documento y continúan con el procedimiento.
    </p>
    
    <div class="mt-5">
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="diagnosis" id="diagnosis" 
                class="form-control" placeholder="Diagnosis" autofocus ng-maxlength="2000">
            <label for="inputEmail">Diagnóstico</label>
        </div>                            
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="procedure" id="procedure" 
                class="form-control" placeholder="Procedure" autofocus ng-maxlength="2000">
            <label for="inputEmail">Procedimiento</label>
        </div>                            
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="altoption" id="altoption"
                class="form-control" placeholder="Altoption" autofocus ng-maxlength="2000">
            <label for="inputEmail">Cantidad de piezas dentales</label>
        </div>                            
        <div class="form-label-group col-sm-12 mx-auto">
            <input type="text" name="opciones" id="opciones"
                class="form-control" placeholder="Opciones" autofocus ng-maxlength="2000">
            <label for="inputEmail">Opciones alternativas</label>
        </div>                            
    </div>

    <ol class="mt-5">
        <li>Me han informado y comprendo los riesgos potenciales relacionados con este procedimiento, que incluyen, pero no
            se limitan a los siguientes:
            <ul style="list-style-type: disc;">
                <li class="mt-2">•	Duración y grado variado de sensibilidad, sangrado, infección, irritación de las encías, riesgo de fractura dental, traumatismo que cause necesidad de realizar tratamiento de conducto en el futuro, agrietamiento o estiramiento de las comisuras de los labios, tensión en la mandíbula (trastorno temporomandibular), cambios en la mordida, posible rotura/desplazamiento/falta de unión del material, cambio en el aspecto estético de los dientes, reacciones alérgicas o adversas a los medicamentos o materiales.</li>
                <li class="mt-2"><strong>(Enumerar los riesgos espec&iacute;ficos del procedimiento)</strong></li>
            </ul>
        </li>
        <li class="mt-2">He elegido proceder con las anestesias indicadas a continuaci&oacute;n.&nbsp;<br />
            <div class="mt-2 mx-3">
                <div class="mt-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkNinguna">
                        <label class="custom-control-label" for="chkNinguna">Ninguna</label>
                    </div>
                </div>
                <div class="mt-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkAnestesia">
                        <label class="custom-control-label" for="chkAnestesia">Anestesia local</label>
                    </div>
                </div>
                <div class="mt-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkxidonitroso">
                        <label class="custom-control-label" for="chkxidonitroso">&Oacute;xido nitroso (gas
                            hilarante)</label>
                    </div>
                </div>
                <div class="mt-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkParauna">
                        <label class="custom-control-label" for="chkParauna">
                            Para una sedaci&oacute;n/anestesia general leve (ansi&oacute;lisis/&ldquo;reducci&oacute;n de
                            ansiedad&rdquo;), moderada (semi-consciente/crepuscular) o profunda, firme el Consentimiento
                            informado anticipado para anestesia que se adjunta
                        </label>
                    </div>
                </div>
            </div>
            <ul>
                <li style="list-style-type: disc;">
                    <p>Me han informado y comprendo los riesgos potenciales asociados con la anestesia, que incluyen, pero
                        no se limitan a los siguientes:</p>
                    <ul style="list-style-type: square;">
                        <li>Reacciones al&eacute;rgicas o adversas a medicamentos o materiales; dolor en el sitio de
                            inyecci&oacute;n de la anestesia; hematomas/hinchaz&oacute;n; lesiones nerviosas;
                            n&aacute;useas; v&oacute;mitos; desorientaci&oacute;n; confusi&oacute;n; falta de
                            coordinaci&oacute;n; somnolencia; complicaciones card&iacute;acas y respiratorias;
                            entumecimiento tras la anestesia que, en casos muy poco frecuentes, puede ser permanente;
                            sobredosis.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="mt-2">Además, comprendo que el uso de estabilización de protección puede ser necesaria para la seguridad del paciente, del personal o los tutores. La estabilización de protección puede incluir: abrebocas, el uso de una placa de estabilización, envolturas de tela, materiales de Velcro® o que un padre, tutor o miembro del personal dental sujeten al niño. Los posibles riesgos y complicaciones que me han explicado incluyen: malestar o posibilidad de lesiones, entre las que se encuentran, hematomas o abrasión riesgosa.</li>
        <li class="mt-2">Se me ha informado y comprendo que es posible que puedan ser necesarias visitas de seguimiento o
            cuidado, evaluaci&oacute;n o tratamiento adicionales.</li>
        <li class="mt-2">Responsabilidades del paciente
            <ul style="list-style-type: disc;">
                <li>
                    <p class="mt-2">Acepto asegurarme que mi hijo siga todas las instrucciones que nos indican en este consultorio antes y después del procedimiento, tomar los medicamentos según la receta, practicar una higiene oral correcta, cumplir con todas las citas, hacer citas para consulta si surgen complicaciones y llevar a cabo los cuidados necesarios. Informaré al médico de mi hijo todo problema postoperatorio en el momento en que surja. Nuestro incumplimiento puede causar complicaciones o resultados inferiores a los óptimos.</p>
                </li>
                <li>
                    <p>Comprendo y acepto que el médico no puede garantizar los resultados del procedimiento. He tenido tiempo suficiente para leer este documento, comprendo las declaraciones precedentes y he tenido la oportunidad de que se respondan todas mis preguntas. Al firmar este documento, reconozco y acepto los riesgos y las complicaciones posibles del procedimiento y acepto proceder con él.</p>
                </li>
                
            </ul>
        </li>
    </ol>
</div>