<div class="menu-body slimscroll">
    <div id="MetricaHospital" class="main-icon-menu-pane">
        <div class="title-box">
            <h6 class="menu-title">Hospital</h6>
        </div>

        <ul class="nav metismenu">
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);"><span class="w-100">Appointments</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="../hospital/doctor-shedule.html">Doctor Shedule</a></li>  
                    <li><a [routerLink]="['/app/appointments']">All Appointments</a></li>              
                </ul>            
            </li><!--end nav-item-->    
            <li class="nav-item">
                <a class="nav-link" href="javascript: void(0);"><span class="w-100">Doctors</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="../hospital/all-doctors.html">All Doctors</a></li>
                    <li><a href="../hospital/add-doctor.html">Add Doctor</a></li>
                    <li><a href="../hospital/doctor-edit.html">Doctor Edit</a></li>
                    <li><a href="../hospital/doctor-profile.html">Doctor Profile</a></li>             
                </ul>            
            </li><!--end nav-item-->                    
        </ul>
    </div>
</div>