<div class="mt-2">
    <p><strong>What is a stainless steel crown and its benefits?</strong><br>
    
        A stainless steel crown restores the form and function of a tooth. If a deciduous (baby) tooth has too
        much dental decay to warrant a filling, then a stainless steel crown should be placed. A stainless steel
        crown is a very durable restoration. Stainless steel crowns are commonly used on deciduous (baby)
        teeth.
    </p>

    <p>
        If the tooth has had a pulpotomy, a stainless steel crown is often placed afterward. Only a stainless
        steel crown is likely to remain intact for the life of the tooth. Baby teeth which have had pulpotomies
        tend to become brittle and are more likely to break if a large filling only is placed. Failure rates for
        stainless steel crowns are less than 1% per year.
    </p>
    <p>
        Our goal is to achieve the best clinical outcome by using the least invasive treatment and avoid having
        the patient spend money on a treatment that doesn’t last.
    </p>
    <p>
        Stainless steel crowns are <strong>contra-indicated</strong>
    </p>
    <p>
        1: if the primary molar is close to exfoliation with more than half the roots resorbed <br>
        2: in a patient with a known nickel allergy
    </p>
    <p>Some parents or patients may complain about the appearance of SSCs.</p>

    <p><strong>What are my alternatives?</strong><br>
                            As with any dental procedure you can choose not to proceed with care. Of course, that decision has
        its own set of benefits and risks. The tooth may break and require an extraction. If the tooth is
        extracted, the remaining teeth may shift and require future orthodontics to reposition the permanent
        teeth.

    </p>

    <p><strong>Informed Consent:</strong><br>
        I can read and write English and have been given the opportunity to ask any
        questions regarding the nature and purpose of the proposed treatment and have received answers to
        my satisfaction. I do voluntarily assume any and all possible risks, including the risk of substantial
        harm, which may be associated with any phase of this treatment in hopes of obtaining the desired
        result. The fees for these services have been explained to me and I accept them as satisfactory. By
        signing this form, I am freely giving my consent to authorize the doctors and staff at Cross Timbers
        Dental in rendering any services they deem necessary or advisable to treat my dental conditions,
        including the administration and/or prescribing of any anesthetic agents and/or medications.                        
    </p>

    <p><strong>Guarantees:</strong><br>
        The practice of dentistry is not an exact science and no procedure is 100% successful.
        The doctors and/or staff at Cross Timbers Dental have made no guarantees of a successful outcome.
        Notifications: If a patient develops a problem it is the patient’s responsibility to notify the doctors
        and/or staff of Cross Timbers Dental. Through this notification we will be able to act on the patient’s
        behalf. Attempts to correct a problem may occur at our office or a referral to another health care
        practitioner may be warranted.
    </p>
</div>