<div class="mt-2">
    <p class="text-justify">
        This form and your discussion with your doctor are intended to help you make an informed decision about your procedure. As a member of the treatment team, you have been informed of your diagnosis, the planned procedure, the risks, benefits, and alternatives associated with the procedure, and any associated costs. In order to increase the chance of achieving optimal results, you have provided an accurate and complete medical history, including all past and present dental and medical conditions, prescription and non-prescription medications, any allergies, recreational drug use, and pregnancy (if applicable). Your doctor will be happy to answer any questions you may have and provide additional information before you decide whether to sign this document and proceed with the procedure
    </p>
   
    <div class="mt-1">
        1. <span>I have been informed of and understand the potential risks related to this procedure include but are not limited to:</span>
    </div>
    <div class="mt-1">
        <ul>
            <li>
                Varying lengths and degrees of sensitivity, reduction in tooth structure, bleeding, infection, gum irritation, risk of tooth fracture, damage to adjacent teeth, cracking and/or stretching of the corners of the mouth, stress to the jaw joints (TMJ), altered bite, possible breakage/dislodgement/bond failure of material, change in aesthetic appearance of teeth, allergic and/or adverse reaction to medications and/or materials.
            </li>
            
            <li>
                This procedure will not prevent future tooth decay, tooth fracture or gum disease, and occasionally a tooth that has had a crown/bridge may require future Root Canal Therapy.
            </li>
        </ul>
    </div>
    <div class="mt-1">
        2. I have elected to proceed with the anesthesia(s) indicated below.
        <div style="padding-left: 15px">Local Anesthesia</div>
    </div>
    <div class="mt-1" style="padding-left: 15px">I have been informed of and understand the potential risks associated with anesthesia include but are not limited to: 
        <ul>
        <li>
            Allergic or adverse reactions to medications or materials, pain at the anesthesia injection site, bruising/swelling, nerve injury, nausea, vomiting, disorientation, confusion, lack of coordination, drowsiness, heart and breathing complications, numbness following anesthesia that in rare instances may be permanent, overdose.
        </li>
        </ul>
    </div>
    <p>
        3. I have been informed of and understand that follow up visits or care, additional evaluation and/or treatment may be needed

    </p>
    <p>4. Patient’s Responsibilities

    </p>
    <p style="padding-left:15px">
        I understand the use of tobacco and alcohol is detrimental to the success of my treatment
    </p>
    <p style="padding-left:15px">
        I agree to follow all instructions provided to me by this office before and after the procedure, take medication(s) as prescribed, practice proper oral hygiene, keep all appointments, make return appointments if complications arise, and complete care.  I will inform my doctor of any post-operative problems as they arise. My failure to comply could result in complications or less than optimal results. 
    </p>
    <p style="padding-left:15px">
        I understand and accept that the doctor cannot guarantee the results or the lifespan of the procedure. I had sufficient time to read this document, understand the above statements, and have had a chance to have all my questions answered.  By signing this document, I acknowledge and accept the possible risks and complications of the procedure and agree to proceed. 
    </p>
</div>