<div class="mt-2">
    <p>
        I grant Dr. {{doctorName}} and his/her practice permission to take and use photographs and digital images of me for the purpose of:
    </p>
    <p>
        <input type="checkbox" id=""/> Teaching (i.e. Educational materials)
    </p>
    <p>
        <input type="checkbox" id=""/> Marketing (i.e.  Web site, brochures, etc.)
    </p>
    <p>
        <input type="checkbox" id=""/> Other:
    </p>

    <p>
        I understand that once my photograph(s) or digital image(s) have been released, Dr. {{doctorName}} and his/her practice may no longer have control over them, and federal or state privacy laws may no longer protect the information that was released.
    </p>

    <p>
        I may cancel this authorization to the extent allowed by law.  If I do, I understand that the doctor or practice may have already used my photograph(s) or digital image(s) prior to me canceling this authorization, which would not prohibit any release done prior to the date of cancelation.  
    </p>

    <p>
        To cancel this agreement, I must write a letter to the doctor or practice advising of my wish to cancel my authorization to release photograph(s) or digital image(s) taken of me by this practice.  I (or my authorized representative) must sign and date the letter.
    </p>

    <p>
        By signing below you acknowledge that you understand the information presented, have had all your questions answered satisfactorily, and give consent to perform this procedure.
    </p>

    <p>
        If this authorization has not been canceled, it will expire <u>10</u> days after the date signed.
    </p>

</div>